    /****** General ***********/
    * {
        font-family: 'Raleway', sans-serif;
    }

    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }

    .fa-solid {
        color: var(--main-color);
    }

    body {
        display: flex;
        justify-content: center;
        margin:0;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .section-title {
        margin: 0;
        font-size: 22px;
    }

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .card img {
        object-fit: cover;
    }

    .card-title {
        font-size: 16px;
    }

    .euro {
        font-weight: 700;
    }

    .neutral-star {
        color: var(--main-bg-color)
    }


    h3, h4, p {
        margin: 0;
        padding: 0;
    }

    /****** Header ***********/

    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .logo{
       /* display:flex;*/
        width: 61px;
        height: auto;
        padding: 30px 50px 30px 0;
    }

    .nav_menu{
        display:flex;
        Gap: 68px;     
    }

    .lien_menu {
        border-top: 2px solid transparent;
        padding-top: 16px;
    }  

    .lien_menu:hover {
        border-top: 2px solid;
        color: var(--main-color);
        padding-top: 16px;
    }  

    /****** Info groupe ***********/

    .info_groupe{
        display: flex;
        flex-direction: column;
        gap: 35px; 
        margin-bottom: 35px;
    }

    .headline_title{
        margin-bottom: 8px;
    }

    /****** Search bar ***********/
/*
    .search_bar{
        display:flex;
        flex-direction: row;
        align-items: center;
        height: 49px;
        gap: 24px; 
        border-radius: 15px;
        background: var(--White, #FFF); 
    }
*/
    form{
        display: flex;
    }

    .icon_search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 49px; 
       /* color:black; */
        border-radius: 15px 0px 0px 15px;
        border: 1px solid var(--main-bg-color);
        background: var(--main-bg-color); 
       /* align-items: center; */
       /* gap: 24px; */
    }

 /*   i {
        color: black;
        font-weight: 900;
    } */

    .search{
        /*  justify-content: center;
        align-items: center;*/
      /*  width: 195px; */
        height: 51px; 
        text-align: center;
      /*  color: black;
        text-align: center;
        font-family: Raleway; */
        font-size: 18px;
       /* font-style: normal;
        font-weight: 700;
        line-height: normal; 
        border:none;
        opacity: 1; */
        border: 2px solid var(--main-bg-color);
        width:195px;
    }

    .search::placeholder{
        color: black;
        font-weight: 700;
        opacity: 1;
    }

    .submit{
    /*   justify-content: center;
        align-items: center;*/
        width: 132px;
        height: 51px; 
        padding: 15px 16px;
        /* align-items: center;
       gap: 10px;
        border:none;  */
        border-radius: 0px 15px 15px 0px;
        border: 1px solid var(--Blue, #0065FC);
        background: var(--Blue, #0065FC); 
        color: white;
       /* text-align: center; */
       /* font-family: Raleway; */
        font-size: 18px;
     /*   font-style: normal;*/
        font-weight: 700;
       /* line-height: normal; */
    }

    .submit_mobile{
        display:none;
    }

    /****** Filter ***********/

    .filterBar{
        display: flex;
      /*  flex-direction: row; */
        gap: 15px; 
        align-items: center
    }

    .filter_button{
        display: flex;
       /* flex-direction: row; 
        align-items: center; */
        gap: 15px; 
    } 

    .filterBar .fa-solid {
        order: -1;
        margin-right: 10px;
    }

    .button{
        display: flex;
        height: 50px;
        padding: 4px 19px;
        align-items: center;
        gap: 10px; 
        border-radius: 25px;
        border: 2px solid var(--grey-tint-2, #D9D9D9); 
        background-color: #FFF;
     /*   color: var(--Black, #000);
        font-family: Raleway; */
        font-size: 17px;
       
        font-weight: 700;
       

        white-space: nowrap;
        overflow: hidden;
    } 


    .button:hover{
       /* border-radius: 25px;
        border: 2px solid var(--grey-tint-2, #D9D9D9);  */
        background: var(--filter-bg-color); 
    }
/*
    fa-solid{
        width: 22px;
        height: 22px; 
    }
*/
    .Infobar{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .Infobar i {
      /*  color: var(--main-color); */
        padding: 10px 8px;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 65%;

    }
    .hebergements-titre{
        margin-bottom: 30px;
    }

    .hebergements a {
        width: 29.6%;
    } /*ajout */

    .hebergement-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 25px;
        
    }

    .hebergement-card .card{
    /*   width: 240px; */
        height: 207px;
        padding-bottom: 15px;
        
    }

    /**
    .hebergement-card .card{
        display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex: 1 0 0; 
    border-radius: 20px;
    background: #FFF;
    /* Shadow/Card */
    /**box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10); 
    }**/

    .hebergement-card .card img{
        width: 100%;
        height: 124px;
        border-radius: 20px 20px 0 0;
        margin-bottom: 4px;
    }
    .hebergement-card .card-content {
      /*  display: flex; */
        padding: 0px 15px;
       /* flex-direction: column;
        align-items: flex-start; */
        gap: 0px;
       /* align-self: stretch; */
        white-space: nowrap; 
        overflow: hidden; 
    }

    .hebergement-card .card-txt{
        padding-bottom: 20PX;
    }


    .afficher_plus{
        margin-top:30px;
    }

    /****** Populaires ***********/

    .populaires {
        width: 32%;
    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }

    .populaires-cards img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .populaires-cards .card-subtitle {
        margin: 0;
    }

    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }

    /* ************ Section Activite à Marseille   ************ */

    .section-activite {
    padding: 30px;
        margin-bottom: 35px;
    }
/*.activite{
    display: flex;
    justify-content: space-between;
}
.activite-card{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 30px;
}

.activite-card .card{ 
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    width: 297px;
    height: 439px;
}
.activite-card img{ 
    height: 380px;
    flex-shrink: 0;
    align-self: stretch; 
}


.activite-card .card-content {

    padding: 0 19px;

}
.activites-title{
    margin-bottom: 30px;
}

.activite-card .card-txt{
    padding: 15px 0;
}*/

/* TEST*/ 

    .activite-card  {
        display: flex;
      /*  margin: 0;*/
        gap: 30px;
    }

    .activite-card a { 
        width: 25%; 
    }

    .activite-card .card {
      /*  display: flex;
        flex-direction: column; */
        padding: 0;
    }

    .activite-card img {
        width: 100%;
        height: 380px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
       /* align-self: stretch; */
    }

    .activite-card .card-content {
        padding: 20px 19px;
        white-space: nowrap; 
        overflow: hidden; 

    }

    /****** Footer ***********/

    .footer{
        display: flex;
       /* align-items: flex-start;
        align-self: stretch; */
        background-color: var(--main-bg-color);
    }

    .footer .container{
        display: flex;
        padding: 20px;
        flex-direction: column;
       /* align-items: flex-start;*/
        gap: 15px;
        flex: 1 ;
      /*  align-self: stretch; */
    }

    .footer-links {
        list-style: none;
        padding: 0;
        margin:0;
    }

    .footer-links li {
        padding-top: 15px;
    }

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) **********************************************************/

    @media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .section-activite {
        padding: 30px;
        margin-bottom: 35px;
     }
      /* .activite{
           display: flex;
           justify-content: space-between;
       }
       .activite-card{
           display: flex;
           flex-wrap: wrap;
           margin: 0;
           gap: 30px;
       }
    .activite-card .card{ 
        display: flex;
        flex-direction: column;
        
        padding: 0;
        margin:0;
        width: 193px;
        height: 340px;
    }
    .activite-card img{ 
        height: 280px;
        flex-shrink: 0;
        align-self: stretch; 
    }
    .activite-card .card-content {

        padding: 0 19px;
    
    }
    .activites-title{
        margin-bottom: 30px;
    }
    .activite-card .card-txt{
       justify-content: center;
    }*/

    .activite-card img { 
        height: 170px; 
     }
    .activite-card .card-content {
         white-space: initial; 
        }
    .activite-card .card { 
        height: 100%; 
    }
   /* .activite-card .card-content { display: flex;  padding: 5px 19px; align-items:center} */
    .activite-card .card-content {
        padding: 20px 19px;
      /*  display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch; */
     }
}

/* Small devices (phones, less than 768px) ************************************************************************/
    
    @media (max-width: 767.98px) {
        /* ... */

    /****** Header responsive Mobile ***********/

    .main-container {
        /* width: 100%; */
        padding: 0;
        margin:0;
      /*  box-sizing: border-box;*/
    }

    header{
      /*  width: 100%;*/
       /* display: flex; */
        flex-direction: column;
      /*  margin-bottom: 30px;*/
        align-items: center;
       /* text-align: center;*/

        /*align-self: stretch; */
    }

    .logo{
      /*  display:flex;
        width: 61px; 
        height: auto; */
        padding: 30px;
        /*   flex-direction: column; 
            justify-content: center;
        align-items: center; */
    }

    nav{
        width: 100%;
    }

    .nav_menu{ 
      /*  display:flex;
        flex-direction: row; */
        gap:0;
    }

    .lien_menu {
       /* display: flex;
         width: 200px; */
        width: 50%;
        border-bottom: 2px solid transparent;
        padding-bottom: 16px;
       /* align-items: center;*/
        text-align: center;
       /* font-size: 16px; 
        justify-content: center; */
        padding-top: 0;
    }  

    .lien_menu:hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid;
        color: var(--main-color);
        padding-bottom: 16px;
        padding-top: 0;
    }  

/****** Info groupe responsive Mobile ***********/

    .info_groupe{
      /*  display: flex;
        flex-direction: column; */
        /**background-color: var(--main-bg-color);**/
       /* gap: 35px; */
        margin-bottom: 0;
      /*  margin:0 20px;*/
        padding: 0 20px;
    }
  

    .headline_title{
       /* margin-bottom: 8px; */
       /* padding: 0 35px 0 0;*/
    }

    .headline-text{
      /*  font-size: 18px; */
      /*  padding: 0 20px 0 0;*/
    }

    .search_bar{
      /*  display: inline-flex;
        flex-direction: row;
        align-items: center; */
       /* max-width: 335px;*/
       
      
        
     /*   background: var(--White, #FFF); */
    }


   /* i {
        color: black;
        font-weight: 900;
    } */

    form{
      /*  display: inline-flex;*/
        width: 100%;
        height: 49px;
        /* gap: 24px; */
         border-radius: 15px;
         border: 2px solid var(--Grey, #F2F2F2);
    }

    .icon_search{     
        min-width: 50px;
    }

    .search{
        /*  justify-content: center;
         align-items: center;*/
        /*  width: 195px;*/
        /*  width: 250px;*/
       /* width: 77.2%;*/
        width:100%;
        height: 49px; 
      /*  text-align: center;
        color: black;
        text-align: center;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; */
        border:none;
      /*  opacity: 1; */
       
    }
/*
    .search::placeholder{
        color: black;
        font-weight: 700;
        opacity: 1;
    }
*/
    .submit{
        display:none;
    }

    .submit_mobile{
        display:flex;
        width: 50px;
        height: 50px; 
        padding: 15px 16px;
        align-items: center;
      /*  gap: 10px; 
        border:none;*/
        border-radius: 15px 15px 15px 15px;
        border: 1px solid var(--main-color);
        background: var(--main-color); 
        color:  #FFF;
        /*box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5)*/
        box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.35);
    }

    .submit_mobile i{
        color: white;
       /* font-weight: 900;*/
    }


    /****** Filter Mobile ***********/

    .filterBar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      /*  height:160px;   */
        gap: 20px; 
        /*  width:100%;*/
    }
/*
    .filter_titre{
        text-align: left;
    }*/

    .filter_button{
       /* display: flex;
        flex-direction: row; */
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 10px;
       width: 100%;
    }

   .button{
      /*  display: flex;
        height: 50px;*/
      /*  width: 155px;   */
        font-size: 14px; 
        padding: 13px;
        width: 48%;
       /* margin: 0;
        padding: 13px */
     } 
     .filterBar .fa-solid {
       margin-right: 0;
     }

   /* test non concluant
     .filterBar { flex-direction: column; }

     .filter_button {
         flex-wrap: wrap;
         justify-content: space-between;
         gap: 20px 10px;
 
     }
     
     .filter_button button {
         width: 48%;
         font-size: 14px;
         margin: 0;
         padding: 13px
     }
 
    */


  /** Info Bar **/

    .Infobar{
       /* padding-right: 40px;*/
      /* justify-content: center;*/
    }



    /* Hebergement et populaire version Mobile*/


    .hebergements-and-populaires {
      /*  display: flex;
        justify-content: space-between;*/
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    /*Populaire*/

/*
.populaires {
    display: flex;
    flex-direction: column;

}*/
    .populaires {  
      /*  width:100%;*/
        margin-top: 35px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
       /* width: 100%;*/
        gap:15px;
        margin-top: 15px;
    }
/*
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width:350px;
}*/

    .populaires-cards .card {
        margin-top: 0;
        width:100%;
    }

    .populaires-cards a {
        width: 100%;
    }

    /*hebergement mobile */


    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    /*
    .hebergement-card .card{
        width:350px;
    } */

    .hebergements {
        width: 100%;
    }

    .hebergements a {
        width: 100%;
    }

    .hebergement-card {
      /*  display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between; */
        gap: 15px;
      /*  width: 100%;*/
    }

    .hebergement-card .card{
        width: 100%;
        height: 190px;
    }

    .hebergement-card .card-txt{
        padding-bottom: 5px;
    }

 /* activité à marseille mobile */
 /*
   .activite-card .card{ 
       width: 350px;
       height: 200px;
   }
   .activite-card img{ 
       height: 141px;
   }
   */
   .activite-card a { 
        width: 100%; 
    }

   .activite-card {
        display: flex;
        flex-direction: column;
      /*  flex-wrap: wrap;
        justify-content: space-between;*/
        gap: 15px;
       /* width: 100%;*/
   }
   .activite-card .card{ 
      /*  width: 100%;*/
        height: 200px;
    }
    .activite-card img{ 
        height: 141px;
    }
    .activite-card .card-content {  
        padding: 15px 19px;
    }

 /* Footer Mobile */

    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer .container{
        padding: 30px;
      /*  display: flex;
       
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch; */

    }
/*
    .footer-links {
        list-style: none;
        padding: 0;
        margin:0;
    }

    .footer-links li {
        padding-top: 15px;
    }*/

}